* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
body {
    background-color: rgb(198, 130, 236);
}
main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(41, 40, 40);
}

iframe {
    width: 500px;
    height: 300px;
}